
#title{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #c06161;
    text-align: center;
    margin-top:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h2{
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-top:10px;
}
h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 2px;
}
input{
    background: #DCDCDC;
    border-radius:3px;
    border:1px white solid;
}

/* calculation */
#calculation{
    width: 500px;
    height: 550px;
    background:#F8F8F8;
}
button{
    background-color: rgb(169, 122, 65);
    border-radius:8px;
    border:1px white solid;
}
/* error */
.notify-section{
    color:red;
   
}
#income-notify,#food-notify,#rent-notify,#cloth-notify,#expense-notify,#save-notify,#remain-notify{
    display: none;
}